body {
    background-color: lightgrey;
}

h3 {
    color: darkblue;
    text-align: center;
}

li {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}
#projectlist {
    width: 320px;
    padding: 10px;
    border: 5px solid black;
    margin: 0;
    align-content: center;
}
