body {
  background-color: grey;
}

h3 {
  color: darkblue;
  text-align: center;
}

li {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}
#projectlist {
  float: left;
  width: 320px;
  padding: 10px;
  border: 5px solid darkgrey;
  background-color: darkgrey;
  color: white;
  margin: 0;
}

#Desktop {
  width: auto;
  height: auto;
}

a{
  color: lightgrey;
}
